h1, h2, h3, a {
	font-family: Brush Script MT;
	text-shadow:0px 0px 15px #ffffff
}
#Home {
	border: 2px solid #FF00FF;
	margin: 3em;
	padding: 1em;
}
#News {
	border: 2px solid #a64dff;
	margin: 3em;
	padding: 1em;
}

#Order {
	border: 2px solid #66ffff;
	margin: 3em;
	padding: 1em;
}

textarea {
	width: 600px;
	height: 400px;
	padding: 1em;
	font-family: arial, sans-serif;
}

input {
	display: block;
	width: 600px;
	margin-bottom: 1em;
	padding: 1em;
	font-family: arial, sans-serif;
}

body {
    text-align:center;
    display:table-cell;
    background-image: url('http://bgfons.com/uploads/flowers/flowers_texture710.jpg');
}
